@import "avalanche";
@import "avalanchaid";

html{
    color: rgb(15,15,15);
}

.main{
    background-color: rgb(233,233,233);
    padding: 2em;
    box-sizing: border-box;
}

.anime-item{

    display: inline-block;

    &__img{
        max-width: 40px;
        height: auto;
    }
}
