@font-face {
    font-family: 'pantonextralight';
    src: url('/themes/slievr-bolder-bigger-better/webfonts/Panton-ExtraLight/panton-extralight-webfont.eot');
    src: url('/themes/slievr-bolder-bigger-better/webfonts/Panton-ExtraLight/panton-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/themes/slievr-bolder-bigger-better/webfonts/Panton-ExtraLight/panton-extralight-webfont.woff2') format('woff2'),
         url('/themes/slievr-bolder-bigger-better/webfonts/Panton-ExtraLight/panton-extralight-webfont.woff') format('woff'),
         url('/themes/slievr-bolder-bigger-better/webfonts/Panton-ExtraLight/panton-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}